.content-container {
  display: flex;
  margin: 4% auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 2%;
  width: 60%;
  box-sizing: border-box;
  border: hidden;
}

.content-container:hover {
  border: 1px solid;
  border-radius: 2%;
  box-shadow: 2px 4px;
}

p {
  font-weight: 400;
  color: dimgrey;
  font-size: 20px;
}
