@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  font-family: "Dancing Script", cursive;
}

.btn {
  display: inline-block;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
div {
  width: 700px;
}
